body {margin:0;width: 100%;height: 100%;}
.first {margin:0;width: 100%;height: 100%;}

/**** PRVI IFRAME slika+play ****/
div.noviplayer div#player1 div{height: max-content;width: 100% !important;background: none;display: contents;}
.dvr-controls[data-dvr-controls], .cc-controls[data-cc-controls]{display:none !important}
.media-control[data-media-control] .media-control-layer[data-controls] button.media-control-button {top: 3px !important;position: relative;}


.rts-player{text-align: center;width: 100%;margin: 0 auto;display: inherit;}

.rts-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.rts-taster {
  position: sticky;
margin-top: -68vh;
margin-left: 39vmax;
}
	
	
	
.rts-poz-reklam{position: absolute; bottom: 109px;padding-left: 0px; width: 100%; height: 100px; z-index: 9999; text-align:center}
.grekla{position: absolute;bottom: 150px;padding-left: 0;height: 100px;z-index: 9999;text-align: center;display: flex;align-items: center;justify-content: center;left: 10%;right: 10%;/*background:red*/}

/****** DRUGI IFRAME kad se klikne - iframe plyer od externog sajta******/
#rts-iframeHolder{position: relative;z-index: 996;top: -29px;left: -2px;overflow: hidden;transform: scale(1.13);}

.player-poster[data-poster] .play-wrapper[data-poster] svg {
  height: 100%;
  width: 140px;
  margin: 20% auto;
}

@media (max-width:1182px){ .rts-taster {margin-left: 35vmax;} }
@media (max-width:991px){ .rts-taster {margin-left: 0vmax;} }







@media (max-width:1199px){ #rts-iframeHolder{top: -51px;} }
@media (max-width:991px){ #rts-iframeHolder{transform: scale(1.1); }
@media (max-width:767px){ #rts-iframeHolder{top: -60px;} }
@media (max-width:425px){ #rts-iframeHolder{top: -160px;} }
@media (max-width:375px){ #rts-iframeHolder{top: -95px;} }
@media (max-width:320px){ #rts-iframeHolder{
	top: -51px;
    transform: scale(1.15);
    position: relative;
    width: 108%;
    transform: scale(1.0);
    top: -2px;
    left: 3px;} }
#rts-iframeHolder iframe {width:96%; height:480px}
